fastapi==0.109.0
h5py==3.10.0
numpy==1.24.3
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.9.0.80
paddleocr==2.7.0.3
paddlepaddle==2.6.0
pandas==2.0.3
protobuf==3.20.2
pycryptodome==3.19.1
requests==2.31.0
retina-face==0.0.13
rsa==4.9
textstat==0.7.3
tqdm==4.66.1
ultralytics==8.0.238
uvicorn==0.26.0


